/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #feaa2b;
  --first-color-light: #f4f0fa;
  --title-color: #19181b;
  --text-color: #58555e;
  --text-color-light: #a5a1aa;
  --body-color: #f9f6fd;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

.section {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .section {
    margin-left: 68px;
  }
}
